@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', serif;
}

.top {
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    font-size: 0.5rem;
    min-height: 30px;
}
.box {
    margin: auto 20px;
}
.box p {
    font-size: 1rem;
    color: #202020;
    font-weight: bolder;
}

.left, .right {
    display: flex;
}

.left {
    float: left;
}

.right {
    align-self: flex-end;
    float: right;
}