.btn {
  text-decoration: none;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 2px;
  margin: 10px 10px;
  font-size: 1rem;
  color: #bbbbbb;
  cursor: pointer;
  background-color: #202020;
}

.btn:hover {
  background-color: #bbbbbb;
  color: #202020;
  transform: scale(1.1);
  transition: all 1s;
}
