.navbar-logo {
  display: flex;
  margin-right: 12rem;
}
.navbar-logo h1{
    color: #fff;
    margin: 1rem 1rem;
    margin-right: 5px !important;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .brand-icon {
    color: #fff;
    margin: 1.2rem auto;
    margin-left: 0.5rem;
    font-size: 2rem;
  }

  @media screen and (max-width: 960px) {
    .navbar-logo {
        position: absolute;
        top: 3.5rem;
        left: 0;
      }
    }    